* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 1rem;
    font-family: Ubuntu, simHei, sans-serif;
    font-weight: 400
}

body {

}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    vertical-align:middle
}

td,
th {
    border: 1px solid #bcbcbc;
    padding: 5px 5px
}

th {
    background: #325d72;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer
}

tr:nth-of-type(odd) {
    background: #fff
}

tr:nth-of-type(even) {
    background: #eee
}

#app{
    position: relative;
    margin:20px auto;
    max-width: 640px;
}
#helloWorld {
    border: 0;
    text-align: center;
    margin: 10px auto;
    font-size: 2rem;
    border-bottom: 1px solid #325d72;

}
@media screen and (max-width:768px){
    /*小屏幕模式平齐顶部*/
    #helloWorld  {
        width: 90%;
    }
}
fieldset {
    clear: both;
    margin: 0 auto;
    border: 0;
    text-align: center;
    font-size: 2rem;
}
fieldset legend {
    margin: 0 auto 10px;
    padding-bottom: 10px;
    width: 90%;
    border-bottom: 1px solid #325d72;
    color: #325d72;
    line-height: 30px;
    /*字间距*/
    letter-spacing: 2px;
}
.logo {
    height: 3rem;
    width: 3rem;
    /*垂直居中*/
    vertical-align:middle;
    margin-bottom: 0.4rem;
    margin-right: 0.5rem;
}
#searchBar {
    /*display: block;*/
    float: right;
    margin-top: -58px;
    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 8rem;
}
#searchBar::-webkit-input-placeholder { /* WebKit browsers */
    direction: rtl;
}
#searchBar:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    direction: rtl;
}
#searchBar::-moz-placeholder { /* Mozilla Firefox 19+ but I'm not sure about working */
    direction: rtl;
}
#searchBar:-ms-input-placeholder { /* Internet Explorer 10+ */
    direction: rtl;
}
@media screen and (max-width:768px){
    /*小屏幕模式平齐顶部*/
    #searchBar  {
        /*display: none;*/
        float:none;
        display: block;
        margin: 5px auto;
        max-width:100%;
        width: 90%;
    }
}
#userCreate {
    margin: 10px auto 0;
    max-width: 640px;
}
@media screen and (max-width:768px){
    /*小屏幕模式平齐顶部*/
    #userCreate  {
        margin: 0 auto 0;
    }
}

#list {
    margin: 10px auto;
    max-width: 640px;
}
@media screen and (max-width:768px){
    /*小屏幕模式平齐顶部*/
    #list  {
        max-width: 90%;
    }
}

#pagination {
    position: absolute;
    top: 550px;
    left: 50%;
    margin: 0 auto;
    text-align:center;
    transform: translate(-50%, -50%);
    width: 90%;
    /*bottom: 10px;*/
}
/*@media screen and (max-width:768px){*/
    /*#pagination  {*/
        /*top: 550px;*/
    /*}*/
/*}*/

#pagination > ul{
    display: inline-block;
    padding-left: 0;
    margin: 21px auto;
}

#pagination > ul > li {
    display: inline;
}

#pagination > ul > li > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.5;
    text-decoration: none;
    color: #555;
    background-color: #fff;
    border: 1px solid #325d72;
    margin-left: -1px;
    list-style: none;
}

#pagination > ul > li > a:hover {
    background-color: #eee;
}

#pagination > ul .active {
    color: #fff;
    background-color: #325d72;
    border-left: none;
    border-right: none;
}

#pagination > ul .active:hover {
    color: #fff;
    background: #325d72;
    cursor: default;
}

#pagination > ul > li:first-child > a  {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

#pagination > ul > li:last-child > a {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

button {
    outline: none;
    padding: 5px 5px;
    color: #fff;
    border: 0 solid #BCBCBC;
    border-radius: 3px;
    background-color: #1abc9c;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}
.btn .btn-edit {
    background-color: #1abc9c;
    width: 40px;
}
.btn .btn-delete {
    background-color: #e4495e;
    width: 40px;
}
.btn-create {
    background-color: #2d8cf0;

}
.btn-save {
    background-color: #1abc9c;
}
@media screen and (max-width:768px){
    /*小屏幕模式平齐顶部*/
    .form-group .btn-save {
        height: 2rem;
        display: block;
        margin: 0 auto;
        width: 90%;
    }
}
@media screen and (max-width:768px){
    /*小屏幕模式平齐顶部*/
    .form-group .btn-create {
        height: 2rem;
        display: block;
        margin: 0 auto;
        width: 90%;
    }
}

input {
    outline: none;
    padding: 3px;
    border-radius: 3px;
    display: inline-block;
}

input[type=text] {
    border: 1px solid #ccc;
}

input[type=text]:focus {
    border-color: #325d72;
}

select {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: transparent;
    outline: none;
}

.form-group {
    margin: 10px auto;
    text-align: left;
    font-size: 1rem;
    height: 2rem;
}
@media screen and (min-width:768px){
    /*表单小屏幕单列显示*/
    .form-group {
        display: inline-block;
        margin: 0;
    }
}

.form-group > label {
    text-align: right;
    line-height: 2rem;
    width: 4rem;
}
@media screen and (max-width:768px){
    /*表单小屏幕单列显示，对齐 label*/
    .form-group > label  {
        /*可注释查看效果*/
        display: none
    }
}

.form-group > input{
    height: 2rem;
    width: 8rem;
}
@media screen and (max-width:768px){
    /*表单小屏幕单列显示，对齐 label*/
    .form-group > input  {
        /*可注释查看效果*/
        display: block;
        margin: 5px auto;
        width: 90%;
    }
}
.form-group > select {
    height: 2rem;
    width: 4rem;
    padding-left: 3px;
}
@media screen and (max-width:768px){
    /*表单小屏幕单列显示，对齐 input*/
    .form-group > select  {
        display: block;
        margin: 5px auto;
        width: 90%;
    }
}

.form-group > button {
    height: 2rem;
    width: 4rem;
}
