<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--设置屏幕缩放-->
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div id="helloWorld">
        <img class="logo" src="images/Vue.png" alt="vue">{{helloWorld.word}}
    </div>
    <input id="searchBar" type="text" v-model="searchQuery" placeholder="search...">
    <div id="userCreate">
        <fieldset>
            <div class="form-group">
                <label>Name:</label>
                <!--双向绑定-->
                <input type="text" v-model="newUser.name" :placeholder="setHolder(holder.name)"/>
            </div>
            <div class="form-group">
                <label>Age:</label>
                <input type="text" v-model="newUser.age" :placeholder="setHolder(holder.age)"/>
            </div>
            <div class="form-group">
                <label>Sex:</label>
                <select v-model="newUser.sex">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="x">x</option>
                </select>
            </div>
            <div class="form-group">
                <!--'@click' 为 v-on:click 缩写-->
                <label></label>
                <button :class="'btn-create'" v-if="status.create" @click="createUser(status.create)" >Create</button>
                <button :class="'btn-save'" v-else @click="createUser(status.create)">Save</button>
            </div>
        </fieldset>
    </div>
    <div id="list">
        <table>
            <thead>
            <tr>
                <th width="10%">#</th>
                <th width="25%">Name</th>
                <th width="10%">Age</th>
                <th width="18%">Sex</th>
                <th width="">Edit</th>
            </tr>
            </thead>
            <tbody>
            <!--key 为数组索引，用于返回要编辑/删除的项-->
            <tr v-for="(user,key) in filteredUser" v-if="key>=(pageData.activeNumber-1) * pageData.per_page &&
                    key < pageData.activeNumber * pageData.per_page">
                <td >{{key+1}}</td>
                <td >{{ user.name }}</td>
                <td >{{ user.age }}</td>
                <td >{{ user.sex }}</td>
                <td :class="'btn'" >
                    <button :class="'btn-edit'" @click="editUser(key)">Edit</button>
                    <button :class="'btn-delete'" @click="deleteUser(key)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="pagination">
        <ul>
            <li v-for="n in pageData.pageCount">
                <a href="javascript:void(0)"
                   :class="pageData.activeNumber === n ? 'active' : ''"
                   @click="jumpPage($event)"
                >{{n}}
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="src/app.js"></script>
</html>